__pycache__/
*.pyc
.ipynb_checkpoints/

.env
*.json

data/raw/
data/processed/
data/features/
data/predictions/
data/test/

models/

airflow_home/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars

.DS_Store